
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
div.polaroid {
  margin:5%;
  width: 20%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  border-radius: 50px;
}

div.container {
  padding: 10px;
}

div.polaroid:hover{
    transform:scale(1.7);
}

a:link, a:visited {
    color: black;
    text-decoration: none;
    cursor: auto;
  }
  
  a:link:active, a:visited:active {
    color: black;
  }

  img {
    border-radius: 50px;
    width: 20%;
    height: 20%;
  }

  body {
    font-family: 'Poppins', sans-serif;
  }

  h1 {
    font-size: 72px;
  }